<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Estás editando ' + productoEditar.nombre}) %>
<body>
    <div class="todo">
        <!-- Segundo partial, header-->
        <%- include('../partials/header') %>
        <div class="tests">
            <div class="forms">
                <!-- Form -->
                <form action="/productos/<%= productoEditar.id %>/modificar?_method=PUT" method="POST">
                    <div><img class="itemm" src="../../../images/productos/<%= productoEditar.image %>" alt=""></div>
                    Nombre del producto: <br>
                    <input type="text" name="nombre" id="" placeholder="" value="<%- productoEditar.nombre %>"> <br>
                    <label for=""> Precio: </label> <br>
                    $ <input type="number" name="precio" id="" class="presio" min= "1" max="99999" value="<%- productoEditar.precio %>"><br>
                    <label for="cantidad">Cantidad: </label> <br>
                    <input type="number" name="cantidad" id="cantidad" min= "1" max="9999" class="cantidad" value="<%- productoEditar.cantidad %>"> <br>
                <label for="genero">Elige el género de tu producto:</label> <br>
                <select name="genero" id="">
                <% if(productoEditar.categoria_id == "1") { %>
                    <option value="1"selected>Unisex</option>
                    <option value="2">Hombre</option>
                    <option value="3">Mujer</option>
                <% } else if (productoEditar.categoria_id == "2") { %>
                    <option value="1">Unisex</option>
                    <option value="2" selected>Hombre</option>
                    <option value="3">Mujer</option>
                <% } else { %>
                    <option value="1">Unisex</option>
                    <option value="2">Hombre</option>
                    <option value="3"selected>Mujer</option>
                <% } %>
                </select>
                    <br>
                    <label for="">¿Cuál es la condición?</label><br>
                    <select name="condicion" id="">
                        <% if(productoEditar.condicion_id == "1") { %> 
                            <option value="1" selected>Nuevo</option>
                            <option value="2">Usado</option>
                        <% } else { %>
                            <option value="1">Nuevo</option>
                            <option value="2" selected>Usado</option>
                        <% } %>
                    </select>
                <br>
                    <label for="">¿Cuál es el color?</label> <br>
                    <select name="color" id="">
                    <% if(productoEditar.color_id == "1") { %> 
                        <option value="1" selected>Negro</option>
                        <option value="2">Blanco</option>
                        <option value="3">Verde</option>
                        <option value="4">Rosa</option>
                        <option value="5">Violeta</option>
                    <% } else if (productoEditar.color_id == "2"){ %>
                        <option value="1">Negro</option>
                        <option value="2" selected>Blanco</option>
                        <option value="3">Verde</option>
                        <option value="4">Rosa</option>
                        <option value="5">Violeta</option>
                    <% } else if (productoEditar.color_id == "3") { %>
                        <option value="1">Negro</option>
                        <option value="2">Blanco</option>
                        <option value="3" selected>Verde</option>
                        <option value="4">Rosa</option>
                        <option value="5">Violeta</option>
                    <% } else if (productoEditar.color_id == "4") { %>
                        <option value="1">Negro</option>
                        <option value="2">Blanco</option>
                        <option value="3">Verde</option>
                        <option value="4" selected>Rosa</option>
                        <option value="5">Violeta</option>
                    <% } else if (productoEditar.color_id == "5") { %>
                        <option value="1">Negro</option>
                        <option value="2">Blanco</option>
                        <option value="3">Verde</option>
                        <option value="4" >Rosa</option>
                        <option value="5" selected>Violeta</option>
                    <% } %>
                    </select>
                <br>
                    <label for="">Talle:</label> <br>
                    <select name="talle" >
                <% if (productoEditar.talle_id == "1") { %>                  
						<option value="1" selected>33</option>
						<option value="2">34</option>
						<option value="3">35</option>
						<option value="4">36</option>
						<option value="5">37</option>
						<option value="6">38</option>
						<option value="7">39</option>
						<option value="8">40</option>
						<option value="9">41</option>
						<option value="10">42</option>
						<option value="11">43</option>
						<option value="12">44</option>
                <%  } else if(productoEditar.talle_id == "2") {  %>                     
                    <option value="1" >33</option>
                    <option value="2"selected>34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <%  } else if (productoEditar.talle_id == "3") {  %>                      
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3"selected>35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "4") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4"selected>36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "5") {%>
                    <option value="1" >33</option>
						<option value="2">34</option>
						<option value="3">35</option>
						<option value="4">36</option>
						<option value="5"selected>37</option>
						<option value="6">38</option>
						<option value="7">39</option>
						<option value="8">40</option>
						<option value="9">41</option>
						<option value="10">42</option>
						<option value="11">43</option>
						<option value="12">44</option>
                <% } else if (productoEditar.talle_id == "6") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6"selected>38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "7") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7"selected>39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "8") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8"selected>40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "9") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9"selected>41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "10") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10"selected>42</option>
                    <option value="11">43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "11") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11"selected>43</option>
                    <option value="12">44</option>
                <% } else if (productoEditar.talle_id == "12") {%>
                    <option value="1" >33</option>
                    <option value="2">34</option>
                    <option value="3">35</option>
                    <option value="4">36</option>
                    <option value="5">37</option>
                    <option value="6">38</option>
                    <option value="7">39</option>
                    <option value="8">40</option>
                    <option value="9">41</option>
                    <option value="10">42</option>
                    <option value="11">43</option>
                    <option value="12"selected>44</option>
                <% } %>
				</select>
                <!-- Submit button-->
                <input type="submit" value="Editar">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>