<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %> 
    <title>Editar producto - Roper</title>
</head>
<body>
    <div class="todo">
        <!-- Segundo partial, header-->
        <%- include('../partials/header') %>
        <div class="tests">
            <div class="forms">
                <!-- Form -->
                <form action="/productos/<%= productoEditar.id %>/modificar?_method=PUT" method="POST">
                    <div><img class="itemm" src="<%= productoEditar.image %>" alt=""></div>
                    Nombre del producto: <br>
                    <input type="text" name="nombre" id="" placeholder="" value="<%- productoEditar.nombre %>"> <br>
                    <label for=""> Precio: </label> <br>
                    $ <input type="number" name="precio" id="" class="presio" min= "1" max="99999" value="<%- productoEditar.precio %>"><br>
                    <label for="cantidad">Cantidad: </label> <br>
                    <input type="number" name="cantidad" id="cantidad" min= "1" max="9999" class="cantidad" value="<%- productoEditar.cantidad %>"> <br>
                <label for="genero">Elige el género de tu producto:</label> <br>
                <select name="genero" id="">
                <% if(productoEditar.genero == "Unisex") { %>
                    <option value="Unisex"selected>Unisex</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                <% } else if (productoEditar.genero == "Hombre") { %>
                    <option value="Unisex">Unisex</option>
                    <option value="Hombre" selected>Hombre</option>
                    <option value="Mujer">Mujer</option>
                <% } else { %>
                    <option value="Unisex">Unisex</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer"selected>Mujer</option>
                <% } %>
                </select>
                    <br>
                    <label for="">¿Cuál es la condición?</label><br>
                    <select name="condicion" id="">
                        <% if(productoEditar.condicion == "Nuevo") { %> 
                            <option value="Nuevo" selected>Nuevo</option>
                            <option value="Usado">Usado</option>
                        <% } else { %>
                            <option value="Nuevo">Nuevo</option>
                            <option value="Usado" selected>Usado</option>
                        <% } %>
                    </select>
                <br>
                    <label for="">¿Cuál es el color?</label> <br>
                    <select name="color" id="">
                    <% if(productoEditar.color == "Negro") { %> 
                        <option value="Negro" selected>Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Verde">Verde</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Violeta">Violeta</option>
                    <% } else if (productoEditar.color == "Blanco"){ %>
                        <option value="Negro">Negro</option>
                        <option value="Blanco" selected>Blanco</option>
                        <option value="Verde">Verde</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Violeta">Violeta</option>
                    <% } else if (productoEditar.color == "Verde") { %>
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Verde" selected>Verde</option>
                        <option value="Rosa">Rosa</option>
                        <option value="Violeta">Violeta</option>
                    <% } else if (productoEditar.color == "Rosa") { %>
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Verde">Verde</option>
                        <option value="Rosa" selected>Rosa</option>
                        <option value="Violeta">Violeta</option>
                    <% } else if (productoEditar.color == "Violeta") { %>
                        <option value="Negro">Negro</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Verde">Verde</option>
                        <option value="Rosa" >Rosa</option>
                        <option value="Violeta" selected>Violeta</option>
                    <% } %>
                    </select>
                <br>
                    <label for="">Talle:</label> <br>
                    <select name="talle" >
                <% if (productoEditar.talle == "33") { %>                  
						<option value="33" selected>33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
                <%  } else if(productoEditar.talle == "34") {  %>                     
						<option value="33" >33</option>
						<option value="34" selected>34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
                <%  } else if (productoEditar.talle == "35") {  %>                      
						<option value="33" >33</option>
						<option value="34">34</option>
						<option value="35" selected>35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
                <% } else if (productoEditar.talle == "36") {%>
                        <option value="33" >33</option>
						<option value="34">34</option>
						<option value="35" >35</option>
						<option value="36"selected>36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
                        <option value="44">44</option>
                <% } else if (productoEditar.talle == "37") {%>
                    <option value="33" >33</option>
                    <option value="34">34</option>
                    <option value="35" >35</option>
                    <option value="36">36</option>
                    <option value="37"selected>37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                <% } else if (productoEditar.talle == "38") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38"selected>38</option>
                   <option value="39">39</option>
                   <option value="40">40</option>
                   <option value="41">41</option>
                   <option value="42">42</option>
                   <option value="43">43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "39") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39"selected>39</option>
                   <option value="40">40</option>
                   <option value="41">41</option>
                   <option value="42">42</option>
                   <option value="43">43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "40") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39">39</option>
                   <option value="40"selected>40</option>
                   <option value="41">41</option>
                   <option value="42">42</option>
                   <option value="43">43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "41") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39">39</option>
                   <option value="40">40</option>
                   <option value="41"selected>41</option>
                   <option value="42">42</option>
                   <option value="43">43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "42") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39">39</option>
                   <option value="40">40</option>
                   <option value="41">41</option>
                   <option value="42"selected>42</option>
                   <option value="43">43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "43") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39">39</option>
                   <option value="40">40</option>
                   <option value="41">41</option>
                   <option value="42">42</option>
                   <option value="43"selected>43</option>
                   <option value="44">44</option>
                <% } else if (productoEditar.talle == "44") {%>
                   <option value="33" >33</option>
                   <option value="34">34</option>
                   <option value="35" >35</option>
                   <option value="36">36</option>
                   <option value="37">37</option>
                   <option value="38">38</option>
                   <option value="39">39</option>
                   <option value="40">40</option>
                   <option value="41">41</option>
                   <option value="42">42</option>
                   <option value="43">43</option>
                   <option value="44"selected>44</option>
                <% } %>
				</select>
                <!-- Submit button-->
                <input type="submit" value="Editar">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>