<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head", {title: 'Listado de Productos'}) %>
<body>
    
    <div class="todo">

        <%- include("../partials/header") %>

        <a href="#"><article class="banner"></article></a>

        <div class="products">
            <% if (homeProductos.length > 0) { %>

                <% homeProductos.forEach(product => { %>
                    <article class="product">
                        <a href="/productos/<%= product.id %>"><img src="../../../images/productos/<%= product.image %>" alt=""></a>
                        <p>$ <%= product.precio %></p>
                        <a href="/productos/<%= product.id %>"><%= product.nombre %></a>
                    </article>
                <% }) %>

            <% } else { %>

                <p>No hay productos en esta categoría.</p>
                
            <% } %>
        </div>
        <div class="test">
            <%if (usuario) { %>
                <button class="especifico"><a href="/productos/create">Crear</a></button>
            <% } %>
        </div>

    </div>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>