<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head') %> 
	</head>
	<body>
		<div class="todo">

		<%- include('../partials/header') %> 

		<div class="flex-container">
			
			<!-- Aca van las fotos del producto -->
			<div class="photo-container">
				
				<!-- Foto principal del producto -->
				<div class="main-photo">
					<div class="item-photo"><img src="<%= productoEspecifico.image %>"  alt="<%= productoEspecifico.nombre %>" class="item-product" ></div>
				</div>
				
				<!-- Fotos adicionales del producto -->


			</div>
			
			<!-- Informacion del producto -->
			<div class="product-info-container">
				<h2><%= productoEspecifico.nombre %></h2>
				<h3>Descripcion del producto</h3>
				<h4>$ <%= productoEspecifico.precio %></h4>
				<form action="Resultado">
					<label for="talles">Elegir talle</label>
					<select name="Talles" >
						<option value="1">33</option>
						<option value="2">34</option>
						<option value="3">35</option>
						<option value="4">36</option>
						<option value="5">37</option>
						<option value="6">38</option>
						<option value="7">39</option>
						<option value="8">40</option>
						<option value="9">41</option>
						<option value="10">42</option>
						<option value="11">43</option>
						<option value="12">44</option>
					</select>
				</form>
				<a class="boton_personalizado" href="/productos/carrito">Agregar al Carrito</a>
				<a class="boton_personalizado" href="/productos/<%= productoEspecifico.id %>/editar">Editar Producto</a>
				<a class="boton_personalizado" href="/productos/<%= productoEspecifico.id %>/eliminar">Eliminar Producto</a>
				<div class="Details">
					<hr color="grey" class="hr-market">
					<h2>Información</h3>
					<h4>Género: <%= productoEspecifico.genero %></h4>
					<h4>Color: <%= productoEspecifico.color %></h4>
					<h4>Condición: <%= productoEspecifico.condicion %></h4>
				</div>
			</div>
			
			<%- include('../partials/footer') %> 
		</div>

	</body>
</html>