<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title: 'Listado de Productos'}) %>
<body>
    <div class="todo">
        <%- include("../partials/header") %>

        <a href=""><article class="banner">
            
        </article></a>
        <div class="products">
            <% homeProductos.forEach(product => { %>
                <article class="product">
                    <a href="/productos/<%= product.id %>"><img src="../../../images/productos/<%= product.image %>" alt=""></a>
                    <p>$ <%= product.precio %></p>
                    <a href="/productos/<%= product.id %>"><%= product.nombre %></a>
                </article>
                <% }) %>
            </div>
                <div class="test">
                    <%if (usuario) { %>
                        <button class="especifico"><a href="/productos/create">Crear</a></button>
                    <% } else {%>
                    <% } %>
                </div>
        </div>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>