<!DOCTYPE html>
<html lang="es">
		<%- include('../partials/head')%> 
	<body>
		<div class="todo">

		<%- include('../partials/header') %> 
		
		<div class="flex-container">
			
			<!-- Aca van las fotos del producto -->
			<div class="photo-container">
				
				<!-- Foto principal del producto -->
				<div class="main-photo">
					<div class="item-photo"><img src="../../../images/productos/<%= productoEspecifico.image %>"  alt="<%= productoEspecifico.nombre %>" class="item-product" ></div>
				</div>
				
				<!-- Fotos adicionales del producto -->


			</div>
			
			<!-- Informacion del producto -->
			<div class="product-info-container">
				<h2><%= productoEspecifico.nombre %></h2>
				<h3>Descripcion del producto</h3>
				$<h4 id="price"><%= productoEspecifico.precio %></h4>
				<form action="Resultado">
					<label for="talles">Elegir talle</label>
					<select name="Talles" >
						<option value="1">33</option>
						<option value="2">34</option>
						<option value="3">35</option>
						<option value="4">36</option>
						<option value="5">37</option>
						<option value="6">38</option>
						<option value="7">39</option>
						<option value="8">40</option>
						<option value="9">41</option>
						<option value="10">42</option>
						<option value="11">43</option>
						<option value="12">44</option>
					</select>
				</form>
				<%if (usuario) { %>
					<a class="boton_personalizado" id="carrito" href="/productos/carrito">Agregar al Carrito</a>
					<a class="boton_personalizado" href="/productos/<%= productoEspecifico.id %>/editar">Editar Producto</a>
					<form action="/productos/<%= productoEspecifico.id %>/eliminar?_method=DELETE" method="POST">
						<button type="submit" class="boton_personalizado">Borrar Producto</button>
					</form>
				<% } else { %> 
				<% }%>
					<div class="Details">
						<hr color="grey" class="hr-market">
						<h2>Información</h3>
							<% if(productoEspecifico.categoria.genero == null) { %>
								<h4>Género: </h4>
								<% } else {%>
									<h4>Género: <%= productoEspecifico.categoria.genero %></h4>
									<% } %>
					<% if(productoEspecifico.color.nombre == null) { %>
					<h4>Color: </h4>
					<% } else { %>
					<h4>Color: <%= productoEspecifico.color.nombre %></h4>
					<% } %>
					<% if(productoEspecifico.condicion.estado == null) { %>
					<h4>Condición: </h4>
					<% } else { %>
					<h4>Condición: <%= productoEspecifico.condicion.estado %></h4>
					<% };%>
				</div>
			</div>
			
			<%- include('../partials/footer') %> 
		</div>

	</body>
</html>