<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Resultados de su Búsqueda'}); %> 
    <body>
        <div class="todo">
            <%- include('../partials/header'); %> 
            <p>Productos de <%= name%></p>
            <div class="products">
                <% result.forEach(product => { %>
                    <article class="product">
                        <a href="/productos/<%= product.id %>"><img src="../../images/productos/<%= product.image %>" alt=""></a>
                        <p>$ <%= product.precio %></p>
                        <a href="/productos/<%= product.id %>"><%= product.nombre %></a>
                    </article>
                    <% }) %>
                </div>
            </div>
            <div class="parent">
                <%- include('../partials/footer') %>
            </div> 
        </body>
</html>