<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: usuario.name}) %>
<body>
    <div class="todo">
        <%- include('../partials/header') %> 
        <h3>Perfil</h3>
            <div class="perfil">
                <img src="../../../images/users/<%- usuario.image %>" alt="" class="fotoperfil">
                    <div class="textperfil">
                        <h1><%- usuario.name %> <%- usuario.surname %></h1>
                        <h4><%- usuario.email %></h4>
                        <h4><a href="/user/misproductos">Mis Productos</a></h4>
                        <h5><a class="boton_personalizado" href="/user/logout" style="padding-left: 10px;margin-left: 0px;margin-top: 20px">Logout</a></h5>
                    </div>
        </div>
    </div>
    <div class="parent">
        <%- include('../partials/footer') %>
    </div>
</body>
</html>